*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log
venv/
env/
ENV/
.Venv/
.vscode/
.idea/
db.sqlite3 
media/      
staticfiles/ 
*.env     
local_settings.py 
*.swp
*.swo
*.bak
*.orig
*.tmp
.DS_Store
Thumbs.db
node_modules/
*.log
*.pid
*.sock
.idea/
